<div class="content">
    <h3 class="color-primary">Recorrências cadastradas</h3>
    <ul class="recorrencias-list">
        <li class="recorrencias-list-item" *ngFor="let p of recorrenciasComMovimentacao" >
            <section class="list-item-group">
                <h4 [ngClass]="{'color-green': p.movimentacao.tipo == 'r', 'color-red': p.movimentacao.tipo == 'd'}">Recorrência: {{p.id}}</h4>
            </section>
            <mat-divider></mat-divider>
            <section class="list-item-group">
                <p class="upper bold color-primary">{{p.movimentacao.descricao}}</p>
            </section>
            <section class="list-item-group">
                <p>{{getTipo(p.movimentacao.tipo)}}
                     feita no {{getPagamento(p.movimentacao.pagamento)}}
                     na conta {{getConta(p.movimentacao.conta)}} 
                     no valor de R$ {{formataValor(p.movimentacao.valor)}}
                     todo dia {{getDay(p.movimentacao.data)}}
                     pelo período {{p.tem_limite ? " de " + p.parcelas_exibicao + " meses" : " indeterminado"}}
                     a partir de {{p.movimentacao.data | date:'dd/MM/yyyy'}}
                </p>

            </section>
        </li>
    </ul>
    <section class="footer">
        <div class="footer-group">
            <p>Receitas Futuras: </p>
            &nbsp;
            <p class="color-green">R$ {{formatarValor(totalReceitasLancamentosFuturos)}}</p>
            &nbsp;
            &nbsp;
            <p>Gastos Futuros: </p>
            &nbsp;
            <p class="color-red">R$ {{formatarValor(totalGastosLancamentosFuturos)}}</p>
            &nbsp;
            &nbsp;
            <p>Total: </p>
            &nbsp;
            <p
              [ngClass]="{'color-green': (totalReceitasLancamentosFuturos - totalGastosLancamentosFuturos) > 0, 'color-red': (totalReceitasLancamentosFuturos - totalGastosLancamentosFuturos)<0, 'color-warning': (totalReceitasLancamentosFuturos - totalGastosLancamentosFuturos)==0}"
            >
              R$ {{formatarValor((totalReceitasLancamentosFuturos - totalGastosLancamentosFuturos))}}
            </p>
        </div>
        <br>
        <div class="footer-group">
            <p class="value-sm">Valores referentes apenas a transações que envolvem dinheiro</p>
        </div>
    </section>
</div> 

<app-loading
[ngClass]="{'center':true,'--open': loadingService.getShowLoading(), '--close': !loadingService.getShowLoading()}"
></app-loading>