<div class="notificacao-container warning" >
    <div class="notificacao-content">
        <section class="notificacao-title">
            <p>{{notificacoes.length}} planejamento(s) comprometido(s)</p>
        </section>
        <mat-divider></mat-divider>
        <section class="notificacao-body">
            <ul class="notificacao-list">
                <li *ngFor="let notificacao of notificacoes" (click)="onNotificationSelect(notificacao)" class="notificacao-item warning">
                    <p>{{ notificacao.planejamento.data_inicial |  date:'dd/MM/yyyy'}}</p>
                    &nbsp;
                    até
                    &nbsp;
                    <p>{{ notificacao.planejamento.data_final |  date:'dd/MM/yyyy' }}</p>    
                </li>
            </ul>
        </section>
        
    </div>
</div>