.modal-container{
    width: 80%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
}

.modal-content{
    background-color: var(--color-step-150);
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 6px 0 black;
    overflow-y: auto;
    max-height: 90vh;
}

.modal-header{
    margin-bottom: 10px;
}

.modal-body{
    margin-top: 10px;
}

.modal-title{
    color: var(--color-primary);
    width: 100%;
    text-align: center;
}
.close-modal{
    font-size: 20px;
    background-color: transparent;
    color: var(--color-danger);
    transition: all 0.2s ease-in-out;
}

.close-modal:hover{
    transform: scale(1.1) rotate(360deg);
}

.modal-section{
    padding: 10px;
}

.modal-group{

    padding: 10px;
}

.modal-label{
    white-space: nowrap;
    margin-right: 5px;
}

.flex{
    display: flex;
    flex-flow: row wrap;
}

.width50{
    width: 50%;
}
.section-itens{
    margin-top: 20px;
    padding: 10px;
    border: 1px solid var(--color-primary);
    border-radius: 5px;
    overflow-y: auto;
    max-height: 450px;
}

.modal-item{
    background-color: var(--color-step-100);
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 5px;
    box-shadow: 0 0 6px 0 black;
}

.bold{
    font-weight: bold;
}

.value-sm{
    font-size: 12px;
    filter: brightness(0.8);
}