<div class="modal">
    <div class="modal-header">
      <button class="close-modal" (click)="onCloseClick()">
        <mat-icon  aria-hidden="false"  fontIcon="close"></mat-icon>

      </button>
    </div>
    <div class="modal-content">
      <h3 class="color-primary text-center">Novo Registro</h3>
      <form [formGroup]="form" (keydown.enter)="$event.preventDefault()"> 
      <div class="form-group">
        <label [ngClass]="{'form-label': true, 'required': isTipoFieldRequired()}" for="tipo" class="form-label">Tipo:</label>
        <mat-select class="form-input" formControlName="tipo" name="tipo" id="tipo">
          <mat-option  *ngFor="let tipo of tipos" value="{{tipo.id}}">
            {{tipo.nome}}
          </mat-option>
        </mat-select>
      </div>
      <div class="form-group">
        <label class="form-label" for="categoria" class="form-label">Categoria:</label>

        <mat-select class="form-input" formControlName="categoria" name="categoria" id="categoria">
          <mat-option  *ngFor="let categoria of categorias" value="{{categoria.id}}">
            {{categoria.nome}}
          </mat-option>
        </mat-select>
      </div>
      <div class="form-group">
        <label class="form-label" for="pagamento" class="form-label">Forma de pagamento:</label>

        <mat-select class="form-input" formControlName="pagamento" name="pagamento" id="pagamento">
          <mat-option  *ngFor="let pagamento of pagamentos" value="{{pagamento.id}}">
            {{pagamento.nome}}
          </mat-option>
        </mat-select>
      </div>
      <div class="form-group">
        <label class="form-label" for="recorrencia" class="form-label">Recorrencia:</label>

        <mat-select #Recorrencia class="form-input" formControlName="recorrencia" name="recorrencia" id="recorrencia">
          <mat-option  [value]="false">
            Não
          </mat-option>
          <mat-option  [value]="true">
            Sim
          </mat-option>
        </mat-select>
      </div>
      <div class="form-group" *ngIf="Recorrencia.value == true">
        <label class="form-label" for="limite" class="form-label">Tem Limite:</label>

        <mat-select #Limite class="form-input" formControlName="limite" name="limite" id="limite">
          <mat-option  [value]="false">
            Não
          </mat-option>
          <mat-option  [value]="true">
            Sim
          </mat-option>
        </mat-select>
      </div>
      <div class="form-group" *ngIf="Recorrencia.value == true">
        <label class="form-label" for="repeticao" class="form-label">Repetições:</label>
        <input class="form-input" formControlName="repeticao" name="repeticao" id="repeticao" type="number"/>
      </div>
      <div class="form-group" >
        <label class="form-label" for="conta" class="form-label">Conta:</label>

        <mat-select class="form-input" formControlName="conta" name="conta" id="conta">
          <mat-option  *ngFor="let conta of contas" value="{{conta.id}}">
            {{conta.nome}}
          </mat-option>
        </mat-select>
      </div>
      <div class="form-group">
        <label class="form-label" for="data" class="form-label">Data:</label>
        <input class="form-input" formControlName="data" name="data" id="data" type="date" />
      </div>
      
      <div class="form-group">
        <label class="form-label" for="descricao" class="form-label">Descrição:</label>
        <input class="form-input" formControlName="descricao" name="descricao" id="descricao" type="text"/>
      </div>
      <div class="form-group">
        <label class="form-label" for="valor" class="form-label">Valor:</label>
        <input class="form-input" formControlName="valor" name="valor" id="valor" type="text"/>
      </div>
      <div class="button-group">
        <button class="form-button green" (click)="salvarMovimentacao()">
          <mat-icon  aria-hidden="false"  fontIcon="{{ isEditMode ? 'published_with_changes' : 'done' }}"></mat-icon>

        </button>
      </div>
      </form>
    </div>
  </div>