
.close-modal{
    font-size: 20px;
    background-color: transparent;
    color: var(--ion-color-danger);
    transition: all 0.2s ease-in-out;
}

.close-modal:hover{
    transform: scale(1.1) rotate(180deg);
}


.form-group{
    width: 100%;
}

.form-label, .form-input{
    display: block;
    width: 100%;
    margin: 2px;
}

.form-input{
    padding: 8px;
    border-radius: 5px;
    font-size: 16px;
}

.button-group{
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form-button{
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 15px;
    transition: all 0.2s ease-in-out;
}

.form-button:hover{
    transform: scale(1.1);
    filter: brightness(1.3);
    border-radius: 5px;
}

.form-button>ion-icon{
    font-size: 20px;
}

.mat-mdc-select {
    background-color: white;
    border-radius: 5px;
    padding: 5px;
}
