
.close-modal{
    font-size: 20px;
    background-color: transparent;
    color: var(--color-danger);
    transition: all 0.2s ease-in-out;
}

.close-modal:hover{
    transform: scale(1.1) rotate(360deg);
}



.mat-mdc-select {
    background-color: white;
    border-radius: 5px;
    padding: 5px;
}


