.nav-container {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}



.nav-menu{
  box-shadow: 0 55px 9px 4px black;
  min-width: 150px;
  background-color: var(--color-step-100);
}

.mat-drawer-container{
  color: white;
}

.toggle-nav-button{
  display: flex;
  justify-content: center;
  align-items: center;
  border: 3px solid var(--color-primary);
  background-color: transparent;
  color: var(--color-primary);
  padding: 5px;
  margin-left: -26px;
  margin-top: -15px;
}