<div class="modal-container">
    <div class="modal-content">
        <div class="form-group">
            <h3 class="login-title color-primary">Login</h3>
        </div>
        <mat-divider></mat-divider>
        <div class="login-box">
            <form [formGroup]="form"> 
               
               
                <div class="login-group">
                    <input class="input-login" formControlName="usuario" name="usuario" id="usuario" type="text" placeholder="Usuário" required=""/>
                    <label>Usuário</label>

                </div>
                <div class="login-group">
                    <input class="input-login" formControlName="senha" name="senha" id="senha" type="password" placeholder="Senha" required=""/>
                    <label>Senha</label>
                </div>
                <div class="button-group">
                    <button class="btn-login" (click)="login()">
                        <span>Login</span>
                        <mat-icon  aria-hidden="false"  fontIcon="login"></mat-icon>
            
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>
