<div class="content">
  
  <section>
    <app-lg-card>
      <div class="card-content">
        <div class="card-group">
          <h3 class="card-label color-green">Renda:</h3>
          <p class="card-value"> R$ {{formatarValor(renda)}}</p>
        </div>
        <div class="card-group">
          <h3 class="card-label color-red">Gastos:</h3>
          <p class="card-value"> R$ {{formatarValor(gastos)}}</p>
        </div>
        <div class="card-group">
          <h3 class="card-label">Saldo:</h3>
          <p class="card-value"> R$ {{formatarValor(total)}}</p>
        </div>
        <br/>
        <div class="card-group">
          <p class="card-label ">Vale refeição:</p>
          <p  [ngClass]="{'card-value': true, 'color-green': renda_refeicao>0}"> R$ {{formatarValor(renda_refeicao)}}</p>
        </div>
        <div class="card-group">
          <p class="card-label ">Valores em dinheiro até a data atual:</p>
          <p class="card-value color-green"> R$ {{formatarValor(renda_dinheiro)}}</p>
          &nbsp; - &nbsp;
          <p class="card-value color-red"> R$ {{formatarValor(gastos_dinheiro)}}</p>
          &nbsp; = &nbsp;
          <p [ngClass]="{'card-value': true, 'color-red': total_dinheiro<0, 'color-green': total_dinheiro>0}"> R$ {{formatarValor(total_dinheiro)}}</p>
        </div>
        <div class="card-group" >
          <p class="card-label card-label-sm ">Valores em dinheiro lançados do mês atual:</p>
          <p class="card-value card-value-sm color-green"> R$ {{formatarValor(renda_dinheiro_mes)}}</p>
          &nbsp; - &nbsp;
          <p class="card-value card-value-sm color-red"> R$ {{formatarValor(gastos_dinheiro_mes)}}</p>
          &nbsp; = &nbsp;
          <p [ngClass]="{'card-value': true, 'card-value-sm': true, 'color-red': total_dinheiro_mes<0, 'color-green': total_dinheiro_mes>0}"> R$ {{formatarValor(total_dinheiro_mes)}}</p>
        </div>
        <div class="card-group" *ngFor="let conta of contas;let i = index">
          <p class="card-label card-label-sm ">{{conta.nome}}:</p>
          <p class="card-value card-value-sm color-green"> R$ {{formatarValor(rendas_contas[i])}}</p>
          &nbsp; - &nbsp;
          <p class="card-value card-value-sm color-red"> R$ {{formatarValor(gastos_contas[i])}}</p>
          &nbsp; = &nbsp;
          <p [ngClass]="{'card-value': true, 'card-value-sm': true, 'color-red': totais_contas[i]<0, 'color-green': totais_contas[i]>0}"> R$ {{formatarValor(totais_contas[i])}}</p>
        </div>
       
      </div>
    </app-lg-card>
  </section>
  <section>
    <app-notification *ngIf="notificacoes.length>0" [data]="notificacoes" (notificationSelected)="onNotificationSelect($event)"></app-notification>
  </section>
  <section>
    <div class="list-container">
      <h3 class="color-primary">Últimos registros</h3>
      <ul class="list">
        <li class="list-item" *ngFor="let mov of ultimasMovimentacoes">
          <div class="list-group">
            <p class="list-label">{{mov.descricao}}</p>
            <p [ngClass]="{'list-value': true, 'color-red': mov.tipo === 'd', 'color-green': mov.tipo === 'r'}">
              R$ {{ formatarValor(mov.valor) }}
            </p>
            <p class="list-label">{{mov.data | date:'dd/MM/yyyy'}}</p>
          </div>
          <div class="list-group list-group-sm">
            <div class="button-group ">
              <button class="form-button primary" (click)="openEditModal(mov)">
                <mat-icon  aria-hidden="false"  fontIcon="edit"></mat-icon>
              </button>
              &nbsp;
              <button class="form-button red" (click)="deleteMovimentacao(mov.id)">
                <mat-icon  aria-hidden="false"  fontIcon="delete"></mat-icon>
              </button>
            </div>
          </div>
          
        </li>
        
   
      </ul>
    </div>
    <app-float-button #childButton (click)="openInsertModal()" class="primary"> 
        <mat-icon class="button-icon" aria-hidden="false"  fontIcon="add-circle"></mat-icon>  
    </app-float-button>
  </section>

 
</div>
<app-modal-exibicao-planejamento 
[data]="selectedPlanejamento"
[ngClass]="{'center':true,'--open': modalService.getShowModal(), '--close': !modalService.getShowModal()}"
>
</app-modal-exibicao-planejamento>

<app-loading
[ngClass]="{'center': true, '--open': loadingService.getShowLoading(), '--close': !loadingService.getShowLoading()}"
></app-loading>