<div class="loading-container">
    <div class="loading-content">
        <div class="loading-animation">

        </div>
        <div class="loading-text">
            <span class="loading-text-words">A</span>
            <span class="loading-text-words">G</span>
            <span class="loading-text-words">U</span>
            <span class="loading-text-words">A</span>
            <span class="loading-text-words">R</span>
            <span class="loading-text-words">D</span>
            <span class="loading-text-words">E</span>
            <span class="loading-text-words">.</span>
            <span class="loading-text-words">.</span>
            <span class="loading-text-words">.</span>
        </div>
        
    </div>
</div>