<div class="table-container"><table mat-table [dataSource]="dataSource" matSort (matSortChange)="announceSortChange($event)"
  class="mat-elevation-z8">

<ng-container matColumnDef="data" >
<th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Ordernar por data">
 Data
</th>
<td mat-cell *matCellDef="let element"> {{element.data | date:'dd/MM/yyyy'}} </td>
</ng-container>

<ng-container matColumnDef="categoria" >
<th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Ordernar por categoria">
 Categoria
</th>
<td mat-cell *matCellDef="let element"> {{getCategoria(element.categoria)}} </td>
</ng-container>

<ng-container matColumnDef="pagamento" >
<th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Ordernar por modo pagamento">
 Modo Pagamento
</th>
<td mat-cell *matCellDef="let element"> {{getPagamento(element.pagamento)}} </td>
</ng-container>

<ng-container matColumnDef="descricao" >
<th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Ordernar por descrição">
 Descrição
</th>
<td mat-cell *matCellDef="let element"> {{element.descricao}} </td>
</ng-container>

<ng-container matColumnDef="valor" >
<th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Ordernar por valor">
 Valor
</th>
<td mat-cell *matCellDef="let element">  
  <div [ngClass]="{'color-red': element.tipo == 'd', 'color-green': element.tipo == 'r'}">
    R$ {{formatarValor(element.valor)}}
  </div>
 </td>
</ng-container>

<ng-container matColumnDef="actions" >
  <th mat-header-cell *matHeaderCellDef >
  </th>
  <td mat-cell *matCellDef="let element"> 
    <div class="button-group ">
      <button class="form-button primary" (click)="openEditModal(element)">
        <mat-icon  aria-hidden="false"  fontIcon="edit"></mat-icon>
      </button>
      &nbsp;
      <button class="form-button red" (click)="deleteMovimentacao(element.id)">
        <mat-icon  aria-hidden="false"  fontIcon="delete"></mat-icon>
      </button>
    </div>
  </td>
</ng-container>
 
<ng-container matColumnDef="disclaimer">
  <td mat-footer-cell *matFooterCellDef colspan="6">
    <div class="table-footer">
      <p>Total Receita: </p>
      <p class="color-green">R$ {{formatarValor(totalReceita)}}</p>
      &nbsp;
      &nbsp;
      <p>Total Gastos: </p>
      <p class="color-red">R$ {{formatarValor(totalGastos)}}</p>
      &nbsp;
      &nbsp;
      <p>Total: </p>
      <p
        [ngClass]="{'color-green': total > 0, 'color-red': total<0, 'color-warning': total==0}"
      >
        R$ {{formatarValor(total)}}
      </p>
    </div>
  </td>
</ng-container>


<tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
<tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
<tr mat-footer-row *matFooterRowDef="['disclaimer']"></tr>


</table>
<mat-paginator [pageSizeOptions]="[5, 10, 20]"
 showFirstLastButtons
 aria-label="Selecionar página">
</mat-paginator></div>
