<table mat-table [dataSource]="dataSource" matSort (matSortChange)="announceSortChange($event)"
       class="mat-elevation-z8">

  <ng-container matColumnDef="data" sticky>
    <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Ordernar por data">
      Data
    </th>
    <td mat-cell *matCellDef="let element"> {{element.data | date:'dd/MM/yyyy'}} </td>
  </ng-container>

  <ng-container matColumnDef="tipo" stickyEnd>
    <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Ordernar por tipo">
      Tipo
    </th>
    <td mat-cell *matCellDef="let element"> {{getTipo(element.tipo)}} </td>
  </ng-container>

  <ng-container matColumnDef="categoria" sticky>
    <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Ordernar por categoria">
      Categoria
    </th>
    <td mat-cell *matCellDef="let element"> {{getCategoria(element.categoria)}} </td>
  </ng-container>

  <ng-container matColumnDef="pagamento" stickyEnd>
    <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Ordernar por modo pagamento">
      Modo Pagamento
    </th>
    <td mat-cell *matCellDef="let element"> {{getPagamento(element.pagamento)}} </td>
  </ng-container>

  <ng-container matColumnDef="descricao" sticky>
    <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Ordernar por descrição">
      Descrição
    </th>
    <td mat-cell *matCellDef="let element"> {{element.descricao}} </td>
  </ng-container>

  <ng-container matColumnDef="valor" stickyEnd>
    <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Ordernar por valor">
      Valor
    </th>
    <td mat-cell *matCellDef="let element" [ngClass]="{'color-red': element.tipo == 'd', 'color-green': element.tipo == 'r'}">  R$ {{formatarValor(element.valor)}} </td>
  </ng-container>


  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>